@inject IJSRuntime _jsRunTime;

<body>
    <div class="sidemenu-wrapper sidemenu-info d-none d-lg-block">
        <div class="sidemenu-content">
            <div class="widget">
                <h3 class="widget_title">
                    تماس با من
                </h3>
                <div class="ot-widget-contact">
                    <div class="info-box">
                        <div class="info-box_icon">
                            <i class="fas fa-phone">
                            </i>
                        </div>
                        <p class="info-box_text">
                            <a class="info-box_link" href="tel:+2352569321586">
                                98-9305172457+
                            </a>
                            <a class="info-box_link" href="tel:+2352569326254">
                                98-9305224895+
                            </a>
                        </p>
                    </div>
                    <div class="info-box">
                        <div class="info-box_icon">
                            <i class="fas fa-envelope">
                            </i>
                        </div>
                        <p class="info-box_text">
                            ErfanEdalatiBu@gmail.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="widget newsletter-widget">
                <h3 class="widget_title">
                    خبرنامه
                </h3>
                <p class="footer-text">
                    برای دریافت اخبار به روز در مورد من ثبت نام کنید
                </p>
                <form class="newsletter-form">
                    <input class="form-control" placeholder="ایمیل را وارد کنید" required="" type="email" />
                    <button class="ot-btn" type="submit">
                        اشتراک
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="ot-menu-wrapper">
        <div class="ot-menu-area text-center">
            <button class="ot-menu-toggle">
                <i class="fal fa-times">
                </i>
            </button>
            <div class="mobile-logo">
                <a href="index.html">
                    <img alt="ErF" width="100px" src="assets/img/logo-no-background.png" />
                </a>
            </div>
            <div class="ot-mobile-menu">
                <ul>
                    <li>
                        <a style="font-weight:bold" href="about.html">
                            صفحه اصلی
                        </a>
                    </li>

                    <li>
                        <a style="font-weight:bold" href="about.html">
                            درباره من
                        </a>
                    </li>

                    <li>
                        <a style="font-weight:bold"  href="about.html">
                            موسیقی های مورد علاقه من
                        </a>
                    </li>

                    <li>
                        <a style="font-weight:bold" href="about.html">
                            رزومه من
                        </a>
                    </li>

                    <li>
                        <a style="font-weight:bold" href="about.html">
                            همکاری های من
                        </a>
                    </li>

                    <li>
                        <a style="font-weight:bold" href="about.html">
                            تیم من
                        </a>
                    </li>
                </ul>
                <a class="btn btn-success" href="about.html">
                    ورود
                </a>

                <a class="btn btn-primary" href="about.html">
                    ثبت نام
                </a>
            </div>
        </div>
    </div>
    <header class="ot-header header-layout2">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-xl-inline-block">
                                    <i class="far fa-phone">
                                    </i>
                                    <a href="tel:+989305172457">
                                        سوالی دارید؟
                                    </a>
                                </li>
                                <li>
                                    <i class="far fa-envelope">
                                    </i>
                                    به من ایمیل بزنید:
                                    ErfanEdalatiBu@gmail.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="social-links">

                            
                            <a href="https://github.com/ErFStreet">
                                <i class="fab fa-github">
                                </i>
                            </a>

                          
                            <a href="https://t.me/Erfann_Edalati">
                                <i class="fab fa-telegram">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img alt="ErF" style="border-radius:5px" width="120px" src="assets/img/originalLogo-ERFCode.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-auto ms-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li>
                                        <a style="font-weight:bold" href="about.html">
                                            صفحه اصلی
                                        </a>
                                    </li>

                                    <li>
                                        <a style="font-weight:bold" href="about.html">
                                            درباره من
                                        </a>
                                    </li>

                                    <li>
                                        <a style="font-weight:bold" href="about.html">
                                            موسیقی های مورد علاقه من
                                        </a>
                                    </li>

                                    <li>
                                        <a style="font-weight:bold" href="about.html">
                                            رزومه من
                                        </a>
                                    </li>

                                    <li>
                                        <a style="font-weight:bold" href="about.html">
                                            همکاری های من
                                        </a>
                                    </li>

                                    <li>
                                        <a style="font-weight:bold" href="about.html">
                                            تیم من
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <button class="ot-menu-toggle d-block d-lg-none" type="button">
                                <i class="far fa-bars">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>


@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRunTime.InvokeAsync<IJSObjectReference>("import", "./assets/js/vendor/jquery-3.7.1.min.js");
            await _jsRunTime.InvokeAsync<IJSObjectReference>("import", "./assets/js/app.min.js");
            await _jsRunTime.InvokeAsync<IJSObjectReference>("import", "./assets/js/main.js");
        }
    }
}
