@page "/Roles"
<PageTitle>نقش ها</PageTitle>

<head>
    <link rel="stylesheet" href="loader/loader.css" />
</head>

<section class="pt-130">
    <div class="container">
        @if (Response is null)
        {
            <center>
                <span class="loader"></span>
            </center>
        }
        else
        {
            <table class="table table-bordered">
                <thead>
                    <tr class="text-info">
                        <th>شناسه</th>
                        <th>نام نقش</th>
                        <th>ابزار</th>
                    </tr>
                </thead>
                @foreach (var item in Response!.Value!)
                {
                    <tbody>
                        <tr class="text-white">
                            <td>@item.Id</td>
                            <td>@item.RoleName</td>
                            <td><button class="btn btn-danger" type="button" @onclick="()=>Remove(id:item.Id)">حذف</button></td>
                        </tr>
                    </tbody>
                }
            </table>
        }
    </div>
</section>

