@page "/About"

<PageTitle>همکاری</PageTitle>

<body>
    <div class="head">
        <i class="fa fa-globe icon"></i>  <h5>همکاری با من</h5>
    </div>
    <div class="box-parent">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <img src="images/1.avif" class="image" alt="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="images/2.avif" class="image" alt="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="images/3.avif" class="image" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="about-projects">
        <ul>
            <li>ASP.NET Core WebAPI</li>
            <li>ASP.NET Core Razor</li>
            <li>ASP.NET Core MVC</li>
            <li>Blazor Web Assembly</li>
            <li>Vue.js</li>
            <li>Windows Form Application</li>
            <li>Telegram Bot</li>
        </ul>
    </div>
    <div class="contact-me">
        <a href="" class="btn btn-outline-warning bt-link">با من در ارتباط باشید <i class="fa fa-phone"></i></a>
    </div>
</body>

