@page "/"

<PageTitle>خانه</PageTitle>

<div class="head">
    <i class="fa fa-home icon"></i>  <h5>خانه</h5>
</div>
<div class="about-box">
    <div class="row">
        <div class="col-md-3">
            <img src="images/me-images/me.jpg" class="about-image" />
        </div>
        <div class="col-md-5 about-text">
                <p>درود و وقت بخیر.</p>
                <p class="about-p">اسم من عرفان عدالتی است و برنامه نویس وب هستم.</p>
                <ul>
                    <li>محل زندگی : مشهد</li>
                    <li>متولد : 1385/02/26</li>
                    <li>حوزه کاری : برنامه نویسی</li>
                </ul>
        </div>
        <div class="col-md-4">
            <img src="images/5.jpg" class="box-image" />
        </div>
    </div>
    <a class="contact-link" href="https://github.com/ErFStreet"><i class="fa fa-github icon-contact" aria-hidden="true"></i></a>
    <a class="contact-link" href="https://www.linkedin.com/in/erfan-edalati/"><i class="fa fa-linkedin icon-contact" aria-hidden="true"></i></a>
    <a class="contact-link" href="https://t.me/Sir_Edalati"><i class="fa fa-telegram icon-contact" aria-hidden="true"></i></a>
</div>

