@page "/"

<PageTitle>خانه</PageTitle>

<div class="head">
    <i class="fa fa-home icon"></i>  <h5>خانه</h5>
</div>
<div class="about-box">
    <div class="row">
        <div class="col-md-3">
            <img src="images/me-images/me.jpg" class="about-image" />
        </div>
        <div class="col-md-5 about-text">
                <p>درود و وقت بخیر.</p>
                <p class="about-p">اسم من عرفان عدالتی است و برنامه نویس وب هستم.</p>
                <p>از سال 1399 شروع به کار کردن در این حوضه شدم....</p>
                <p>مبحث اصلی کار من Back End  میباشد</p>
                <ul>
                    <li>محل زندگی : مشهد</li>
                    <li>متولد : 1385/02/26</li>
                    <li>حوضه کاری : برنامه نویسی</li>
                </ul>
        </div>
        <div class="col-md-4">
            <img src="images/5.jpg" class="box-image" />
        </div>
    </div>
</div>

