@page "/"

<PageTitle>خانه</PageTitle>

<div class="head">
    <i class="fa fa-home icon"></i>  <h5>خانه</h5>
</div>
<div class="about-box">
    <div class="row">
        <div class="col-md-3">
            <img src="images/me-images/me.jpg" class="about-image" />
        </div>
        <div class="col-md-8">
            <p>درود و وقت بخیر.</p>
            <p class="about-p">اسم من عرفان عدالتی است و برنامه نویس وب هستم.</p>
            <p>از سال 1399 شروع به کار کردن در این حوضه شدم....</p>
            <ul>
                <li>محل زندگی : مشهد</li>
                <li>متولد : 1385/02/26</li>
                <li>حوضه کاری : برنامه نویسی</li>
            </ul>
        </div>
    </div>
</div>

<div class="head">
    <i class="fa fa-code icon"></i>  <h5>مهارت های من</h5>
</div>

<div class="skill-box">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>C#</li>
                <li>ASP.NET MVC</li>
                <li>ASP.NET Core MVC</li>
                <li>ASP.NET Core WebAPI</li>
                <li>ASP.NET Core Razor</li>
                <li>Blazor Web Assembly</li>
                <li>.NET Windows Form</li>
                <li>Java Script</li>
                <li>Vue.js</li>
                <li>jQuery</li>
            </ul>
        </div>
    </div>
</div>
