@page "/MySkills"
<PageTitle>مهارت های من</PageTitle>

<div class="parent-skill-box">
    <div class="row">
        <div class="col-md-4">
            <div class="skill-box">
                <img class="skill-image" src="images/platforms-images/Vue.png" />
                <h4 class="skill-title">Vue.Js</h4>
                <a href="" class="btn btn-success skill-link" >بیشتر بدانید</a>
            </div>
        </div>
    </div>
</div>