@page "/Login"

<section class="login-area pt-90 pb-90" data-background="assets/img/bg/sign-up-bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-7 col-lg-8">
                <div class="login-wrapper pos-rel mb-40 wow fadeInUp">
                    <div class=" login-inner">
                        <div class="login-content">
                            <h4>ورود به حساب کاربری</h4>
                            <form class="login-form" action="#">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="single-input-unit">
                                            <label for="m-id">ایمیل</label>
                                            <input type="email" @bind="Email" placeholder="ایمیل">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="single-input-unit">
                                            <label for="password">گذرواژه</label>
                                            <input type="password" @bind="Password" placeholder="********">
                                        </div>
                                    </div>
                                </div>
                                <div class="login-btn">
                                    <button type="button" @onclick="LoginUser" class="fill-btn">ورود</button>
                                    <div class="note">
                                        حساب کاربری ندارید؟  <a href="/Register" class="text-btn">ثبت نام</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>