<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
            <img src="images/logo-images/logo.png" class="logo-image" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="material-icons menu-icon">home</i> خانه
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MySkills" Match="NavLinkMatch.All">
                <i class="material-icons menu-icon">home</i> مهارت های من
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/About" Match="NavLinkMatch.All">
                <i class="material-icons menu-icon">computer</i> همکاری با من
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CreateRole" Match="NavLinkMatch.All">
                <i class="material-icons menu-icon">computer</i> ایجاد نقش 
            </NavLink>
        </div>
    </nav>

   <div class="auth">
        <a href="" class="btn btn-primary">ثبت نام</a>
        <a href="" class="btn btn-warning">ورود</a>
   </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
