<body>
    <main class="body-has-sidebar">
        <!-- header area start  -->
        <header class="header2">
            <div class="header-main header-main2">
                <div class="container c-container-1">
                    <div class="header-main2-content">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-7 col-md-7 col-7">
                                <div class="header-main-left">
                                    <h4 class="pt-10 mr-10" style="color:blue">ErF Code</h4>

                                    <div class="menu-bar mr-20 d-xxl-none">
                                        <a class="side-toggle" href="javascript:void(0)">
                                            <div class="bar-icon left-bar-icon">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-5">
                                <div class="header-main-right">

                                    <div class="header-btn ml-20 d-none d-xxl-inline-block">
                                        <a href="wallet-connect.html" class="fill-btn">کیف پول</a>
                                    </div>
                                    <div class="product-filter-btn ml-20 d-xxl-none">
                                        <i class="flaticon-filter"></i>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- header area end -->
        <!-- side toggle start -->
        <div class="fix">
            <div class="menu2-side-bar-wrapper">
                <div class="menu2-side-bar">
                    <div class="side-info-content">
                        <div class="offset-widget offset-logo mb-25">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <div class="header-logo header1-logo">
                                        <a href="index.html" class="logo-bb">
                                            <img src="assets/img/logo/oction-logo.png"
                                                 alt="logo-img">
                                        </a>
                                        <a href="index.html" class="logo-bw">
                                            <img src="assets/img/logo/oction-logo-bw.png"
                                                 alt="logo-img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu main-menu1 d-none">
                            <nav id="menu2-mobile-menu">
                                <ul>
                                    <li class="menu-item-has-children">
                                        <a href="index.html">خانه</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">خانه 1</a></li>
                                            <li><a href="index-2.html">خانه 2</a></li>
                                            <li><a href="index-3.html">خانه 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="explore-arts.html">نمایشگاه</a></li>
                                    <li><a href="creators.html">طراحان</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">برگه ها</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="creator-profile.html">طراح</a>
                                                <ul class="sub-menu">
                                                    <li><a href="creator-profile.html">پروفایل طراح</a></li>
                                                    <li>
                                                        <a href="creator-profile-info-personal.html">اطلاعات شخصی طراح</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="art-details.html">طرح</a>
                                                <ul class="sub-menu">
                                                    <li><a href="art-details.html">جزئیات طرح</a></li>
                                                    <li><a href="upload-category.html">بارگذاری دسته ای</a></li>
                                                    <li><a href="upload.html">بارگذاری طرح</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="faq.html">سوالات متداول</a></li>
                                            <li><a href="register.html">ثبت نام</a></li>
                                            <li><a href="login.html">ورود</a></li>
                                            <li><a href="terms.html">قوانین</a></li>
                                            <li><a href="wallet-connect.html">کیف پول</a></li>
                                            <li><a href="activity.html">تاریخچه فعالیت</a></li>
                                            <li><a href="art-ranking.html">امتیاز</a></li>
                                            <li><a href="error-404.html">برگه 404</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="forum.html">انجمن</a></li>
                                    <li>
                                        <a href="contact.html">تماس با ما</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu2-mobile-menu fix">
                        </div>
                        <div class="menu2-sidebar-widget">
                            <h5 class="menu2-sidebar-widget-title mb-35">فروشنده برتر</h5>
                            <div class="sidebar-creators-list">
                                <div class="creator-single creator-single-short">
                                    <div class="creator-wraper">
                                        <div class="creator-inner">
                                            <div class="artist">
                                                <div class="profile-img pos-rel">
                                                    <a href="creator-profile.html">
                                                        <img src="assets/img/profile/profile6.jpg"
                                                             alt="profile-img">
                                                    </a>
                                                    <div class="profile-verification verified">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="creator-name-id">
                                                    <h4 class="artist-name">
                                                        <a href="creator-profile.html">امیر حبیبی</a>
                                                    </h4>
                                                    <div class="artist-id">stive.lio</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="creator-single creator-single-short">
                                    <div class="creator-wraper">
                                        <div class="creator-inner">
                                            <div class="artist">
                                                <div class="profile-img pos-rel">
                                                    <a href="creator-profile.html">
                                                        <img src="assets/img/profile/profile7.jpg"
                                                             alt="profile-img">
                                                    </a>
                                                    <div class="profile-verification verified">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="creator-name-id">
                                                    <h4 class="artist-name">
                                                        <a href="creator-profile.html">نوید حبیبی</a>
                                                    </h4>
                                                    <div class="artist-id">jobanico</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="creator-single creator-single-short">
                                    <div class="creator-wraper">
                                        <div class="creator-inner">
                                            <div class="artist">
                                                <div class="profile-img pos-rel">
                                                    <a href="creator-profile.html">
                                                        <img src="assets/img/profile/profile8.jpg"
                                                             alt="profile-img">
                                                    </a>
                                                    <div class="profile-verification verified">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="creator-name-id">
                                                    <h4 class="artist-name">
                                                        <a href="creator-profile.html">پویا حبیبی</a>
                                                    </h4>
                                                    <div class="artist-id">paul</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="creator-single creator-single-short">
                                    <div class="creator-wraper">
                                        <div class="creator-inner">
                                            <div class="artist">
                                                <div class="profile-img pos-rel">
                                                    <a href="creator-profile.html">
                                                        <img src="assets/img/profile/profile9.jpg"
                                                             alt="profile-img">
                                                    </a>
                                                    <div class="profile-verification verified">
                                                        <i class="fas fa-check"></i>
                                                    </div>
                                                </div>
                                                <div class="creator-name-id">
                                                    <h4 class="artist-name">
                                                        <a href="creator-profile.html">گلاره حبیبی</a>
                                                    </h4>
                                                    <div class="artist-id">broke</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu2-sidebar-widget mt-35">
                            <div class="work-process-single pos-rel">
                                <div class="work-process-content">
                                    <div class="process-icon">
                                        <img src="assets/img/shape/list-icon-2.png" alt="img">
                                    </div>
                                    <h4 class="process-title">
                                        <a href="#">محصول خود را بفروشید</a>
                                    </h4>
                                    <div class="work-process-btn">
                                        <a href="upload.html" class="fill-btn">بارگذاری</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="offcanvas-overlay"></div>
        <div class="offcanvas-overlay-white"></div>
        <!-- side toggle end -->
        <!-- sidebar-category filter start  -->
        <div class="fix">
            <div class="sidebar-category-filter-wrapper">
                <div class="sidebar-category-filter">
                    <div class="filter-widget mb-20">
                        <div class="filter-widget-content">
                            <h3 class="filter-widget-title drop-btn">دسته بندی</h3>
                            <ul>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/021-star.svg" alt="icon-img">
                                            همه
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/014-artwork.svg" alt="icon-img">
                                            خلاقانه
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/015-video.svg" alt="icon-img">
                                            ویدئو
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/016-music.svg" alt="icon-img">
                                            موزیک
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/017-video-game.svg"
                                                 alt="icon-img"> بازی
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/018-software.svg"
                                                 alt="icon-img"> نرم افزار
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/019-photography.svg"
                                                 alt="icon-img">
                                            عکاسی
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-item">
                                        <a href="explore-arts.html">
                                            <img src="assets/img/svg-icon/020-laughing.svg"
                                                 alt="icon-img"> کارتون
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-widget mb-20">
                        <div class="filter-widget-content">
                            <h3 class="filter-widget-title drop-btn">نوع فروش</h3>
                            <ul>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="s-t-1">
                                        <label class="oc-check-label" for="s-t-1">ثابت</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="s-t-2">
                                        <label class="oc-check-label" for="s-t-2">مزایده</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="s-t-3">
                                        <label class="oc-check-label" for="s-t-3">تخفیف</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-widget mb-20">
                        <div class="filter-widget-content">
                            <h3 class="filter-widget-title drop-btn">ارز</h3>
                            <ul>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="pr-1">
                                        <label class="oc-check-label" for="pr-1">اتریوم</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="pr-2">
                                        <label class="oc-check-label" for="pr-2">دلار</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="pr-3">
                                        <label class="oc-check-label" for="pr-3">مزایده</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-widget">
                        <div class="filter-widget-content">
                            <h3 class="filter-widget-title drop-btn">وضعیت</h3>
                            <ul>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="sta-1">
                                        <label class="oc-check-label" for="sta-1">جدید</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="filter-list-item">
                                        <input class="oc-check-box" type="checkbox" id="sta-2">
                                        <label class="oc-check-label" for="sta-2">ویژه</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
